{% extends 'main/base.html'%}


{% block title %}
Створити запис
{% endblock %}

{% block content %}
<h2>Створити лікаря</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.doc_id}}<br>
        {{ form.fullName}}<br>
        {{ form.position}}<br>
        {{ form.spec}}<br>
        {{ form.workExp}}<br>
        {{ form.adress}}<br>
        {{ form.phoneNumber}}<br>
<!--        <input type="text" placeholder="Введіть Id" class="form-control"><br>-->
<!--        <textarea placeholder="Введіть назву спеціалізації" class="form-control"></textarea>-->
        <button type="submit" class = "btn btn-success">Додати</button>
        <span>{{ error }}</span>
    </form>
{% endblock %}