{% extends 'main/base.html'%}


{% block title %}
Створити запис
{% endblock %}

{% block content %}
<h2>Створити хворобу</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.dis_id}}<br>
        {{ form.dis_name}}<br>
        {{ form.profylaxy}}<br>
        {{ form.treatment}}<br>
<!--        <input type="text" placeholder="Введіть Id" class="form-control"><br>-->
<!--        <textarea placeholder="Введіть назву спеціалізації" class="form-control"></textarea>-->
        <button type="submit" class = "btn btn-success">Додати</button>
        <span>{{ error }}</span>
    </form>
{% endblock %}